# Object files
#*.o
#*.ko
#*.obj
#*.elf

# Libraries
#*.lib
#*.a

# Shared objects (inc. Windows DLLs)
#*.dll
#*.so
#*.so.*
#*.dylib

# Executables
#*.exe
#*.out
#*.app
#*.i*86
#*.x86_64
#*.hex

#Only backup the source directory
k60/Debug/
k60/K60_alex.dep
k60/K60_alex.ewd
k60/K60_alex.ewp
k60/K60_alex.eww
k60/settings/
k60/tags
